

*{
    border: 1px solid black;
}


.mainList{
    display:flex;
    text-align: center;
    justify-content: center;
}

li{
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

figure {
    display: flex;
    justify-content: center;
    border:  #3431aa;
    border-radius: 5px;
    padding: 0px;
    background-color: #3431aa;
}


