h1{
    color: red;
}

h2{
    color: gray;
    text-decoration:underline ;
}

#italicsText{
    font-style: italic;
    text-align: left;
}

ol{
    list-style-type: upper-roman ;
    line-height: 200%;
    font: 95% sans-serif;
}

.fontRoman1{
    color: hotpink;
    background-color: darkgreen;
}

.fontRoman2{
    color: darkblue;
    background-color:skyblue;
}

.fontRoman3{
    color: darkred;
    background-color: yellow;
}
